{% extends 'pets/base.html' %}

{% block content %}
<h2>Appointments</h2>

{% if appointments %}
    <div style="text-align: center;">
        <ul style="list-style-position: inside; display: inline-block; text-align: center;">
            {% for appointment in appointments %}
            <li>
                {{ appointment.pet.name }} – {{ appointment.date }} at {{ appointment.time }}
                <a href="{% url 'edit_appointment' appointment.id %}">Edit</a>
                <a href="{% url 'delete_appointment' appointment.id %}">Delete</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <p>No appointments yet.</p>
{% endif %}

{% endblock %}
