{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Pet Management</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'pets/css/style.css' %}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Lobster&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="navbar">
        <h1>Pet Management System</h1>
        <div>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'add_pet' %}">Add Pet</a>
            <a href="{% url 'add_appointment' %}">Add Appointment</a>
            <a href="{% url 'pet_list' %}">View Pets</a>

            {% if user.is_authenticated %}
                <span style="margin-right: 15px;">Hello {{ user.username }}</span>

                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn-primary">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>