{% extends 'pets/base.html' %}

{% block content %}
<h2>
    {% if pet %}
        Edit {{ pet.name }}
    {% else %}
        Add a Pet
    {% endif %}
</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

<h3>Appointments</h3>

{% for appt in appointments %}
    <div>
        {{ appt.date }} {{ appt.time }}
        <br>
        {{ appt.reason }}

        <form method="POST" action="{% url 'delete_appointment' appt.id %}">
            {% csrf_token %}
            <button type="submit" class="btn-delete">🗑</button>
        </form>
    </div>
{% empty %}
    <p>No appointments yet</p>
{% endfor %}

<h3>Medical Notes</h3>
{% for note in pet.notes.all %}
    <div style="margin-bottom: 15px;">
        <p><strong>Date:</strong> {{ note.date }}</p>
        <p>{{ note.note }}</p>
    </div>
{% empty %}
    <p>No medical notes yet.</p>
{% endfor %}
<a href="{% url 'medical_notes' %}?pet_id={{ pet.id }}">
    <button type="button">Add Medical Note</button>
</a>
{% endblock %}